# Ignore everything except dist and essential metadata

src/
tests/
coverage/
docs/
*.ts
*.log
*.tgz
tsconfig.json

# Allow dist
!dist/
!*.d.ts

# Allow node_modules from v1.2.0 because of form-data npm module
!node_modules/
